<!DOCTYPE html>
<html>
<head>
  <title>Countries</title>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <div class="container mt-4">
    <h1 class="mb-3">Countries</h1>

    <!-- Search Form -->
    <form method="get" class="mb-3">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search countries">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <!-- Country List -->
    <ul class="list-group">
      <% if @countries.any? %>
        <% @countries.each do |country| %>
          <p><%= link_to country.name, country_path(country) %></p>
        <% end %>
      <% else %>
      <p class="text-muted">No countries found for "<%= params[:query] %>". Try another search.</p>
      <% end %>  
    </ul>

    <!-- Pagination -->
    <div class="mt-3">
      <%= paginate @countries %>
    </div>
  </div>
</body>
</html>
